#!/usr/bin/make -f

# export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_install:
	$(MAKE) install PREFIX=$(CURDIR)/debian/$(shell dh_listpackages)/usr
